.profile {
  padding: 74px 30px 70px 30px;
  width: 100%;
  max-width: calc(410px + 30 * 2px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding: 236px 30px 270px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 70px 30px 50px;
  }
}

.profile__title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 105px 0;
}

@media screen and (max-width: 1023px) {
  .profile__title {
    margin: 0 0 75px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    margin: 0 0 60px 0;
  }
}

.profile__form {
  flex: 1 1 auto;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile__fields {
  width: 100%;
}

.profile__field {
  position: relative;
  padding: 16px 0 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  box-sizing: border-box;
}

.profile__field:last-of-type {
  border-bottom: none;
}

.profile__input-label {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.profile__input {
  color: #fff;
  background-color: transparent;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  text-align: end;
  border: none;
}

.profile__input:focus {
  outline: none;
}

.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:hover,
.profile__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px #202020 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.profile__error {
  position: absolute;
  bottom: -13px;
  right: 0;
  font-size: 10px;
  text-align: center;
  line-height: normal;
  color: #ee3465;
  border-top: 1px solid rgba(238, 52, 101, 0.5);
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__error_active {
  opacity: 1;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.profile__button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__button {
    font-size: 12px;
  }
}

.profile__button_type_logout {
  color: #ee3465;
  font-weight: 500;
}

.profile__button_type_save {
  padding: 13px 0;
  width: 100%;
  background-color: #3456f3;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}

.profile__buttons-error {
  color: #ee3465;
  text-align: center;
  font-size: 11px;
  line-height: normal;
}
