.portfolio {
  padding: 0 70px 105px;
}

@media screen and (max-width: 1023px) {
  .portfolio {
    padding: 0 50px 70px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 14px 50px;
  }
}

.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px 0;
  }
}

.portfolio__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__links-item {
  border-bottom: 1px solid #424242;
}

.portfolio__links-item:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 1023px) {
  .portfolio__links-item {
    border-bottom: 1px solid #e6e6e6;
  }
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  padding-bottom: 20px;
  letter-spacing: -1.2px;
}

@media screen and (max-width: 1023px) {
  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

.portfolio__link-icon {
  display: block;
  width: 17px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .portfolio__link-icon {
    width: 11px;
  }
}
