.search {
  padding: 70px 70px 10px;
}

@media screen and (max-width: 1023px) {
  .search {
    padding: 70px 30px 10px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    padding: 70px 14px 10px;
  }
}

.search__form {
  padding-bottom: 44px;
  border-bottom: 1px rgba(170, 170, 170, 0.2) solid;
}

@media screen and (max-width: 1023px) {
  .search__form {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 767px) {
  .search__form {
    padding-bottom: 63px;
  }
}

.search__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  padding: 10px 10px 10px 25px;
  box-sizing: border-box;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 767px) {
  .search__input-wrapper {
    padding: 3px 5px 3px 9px;
    margin: 0 0 33px 0;
  }
}

.search__input {
  color: #fff;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  max-width: 65%;
}

.search__input::placeholder {
  color: #8b8b8b;
}

.search__input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .search__input {
    font-size: 16px;
    line-height: 16px;
  }
}

.search__submit {
  color: #fff;
  padding: 17px 20px;
  background-color: #4285f4;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .search__submit {
    padding: 13px 10px;
    width: 80px;
  }
}
