@import url("./assets/vendor/normalize.css");
@import url("./assets/fonts/fonts.css");

html {
  scroll-behavior: smooth;
}

.root {
  background-color: #202020;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  min-width: 320px;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hover-opacity {
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.hover-opacity:hover {
  opacity: 0.7;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.section-title {
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.88px;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #dadada;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 0 0 28px 0;
  }
}
